[defaults]
hostfile = hosts/default.yml

# (path) File to which Ansible will log on the controller. When empty logging is disabled.
log_path = logs/ansible-log.log

# (pathspec) Colon separated paths in which Ansible will search for Roles.
;roles_path=~/.ansible/roles:/usr/share/ansible/roles:/etc/ansible/roles
roles_path = roles
